@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700");



body::-webkit-scrollbar {
    overflow-y: auto;
    width:0px;  
    background-color: #000;
}
// Home part
.view {
    overflow-x: hidden; /* Hide horizontal scrollbar */
    .hm-gradient {
        background: linear-gradient(40deg, rgba(0,51,199,.3), rgba(209,149,249,.3));
    }
    .heading {
        margin: 0 6rem;
        font-size: 3.8rem;
        font-weight: 700;
        color: #5d4267;
      }
      .subheading {
        margin: 2.5rem 6rem;
        color: #bcb2c0;
      }
      .btn.btn-margin {
        margin-left: 6rem;
        margin-top: 3rem;
      }
      .btn.btn-lily {
        background: linear-gradient(40deg, rgba(0,51,199,.7), rgba(209,149,249,.7));
        color: #fff;
      }
}


// Agent Part
.profile-card-1 {
    font-family: "Open Sans", Arial, sans-serif;
    position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
    color: #ffffff;
    text-align: center;
    height: 470px;
    border: none;

    .background {
        width: 100%;
        padding-top: 100px;
        vertical-align: top;
        opacity: 0.9;
        -webkit-filter: blur(5px);
        filter: blur(3px);
        -webkit-transform: scale(1.8);
        transform: scale(2.8);
     }

     .card-content {
        width: 100%;
        padding: 15px 25px;
        border-radius: 10px 10px;
        color: #ff4a59;
        position: absolute;
        left: 0;
        top: 40%;
        
        .agent-description{
            border-radius: 10px;
            background-color:#ff4a59 ;
            color:#18142f;
        }

     }

     .profile {
        border-radius: 50%;
        position: absolute;
        bottom: 65%;
        left: 50%;
        max-width: 100px;
        opacity: 1;
        box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
        border: 2px solid rgba(255, 255, 255, 1);
        -webkit-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
     }

     h2 {
        margin: 0 0 5px;
        font-weight: 600;
        font-size: 25px;

        small {
            display: block;
            font-size: 15px;
            margin-top: 10px;
         }
     }

     i {
        display: inline-block;
        font-size: 16px;
        color: #ffffff;
        text-align: center;
        border: 1px solid #fff;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 50%;
        margin: 0 5px;

        &:hover{
            background-color: #fff;
            color: #2e3434;
            text-decoration: none;
        }
     }

     .icon-block {
        float: left;
        width: 100%;
        margin-top: 15px;
        a {
            text-decoration: none;
         }
     }
    
 }

 %btn-shared {
    font-weight: bold;
    color: #fff;
    background-color:#17132e;
    &:hover{
        color: #000;
        background-color: #ff4a59;
        transition: 0.4s ease ;
    }
 }

 .back-button{
    width: 100px;
    @extend %btn-shared; 
}
 

//  --------PHONE TABLET ---------
 @media (max-width: 768px){
    .agent-detail{
        font-size: 20px;
         .agent-about{
             margin-top:30px;
         }
         .agent-baslik{
             margin-left:2%;
             font-size:50px;
         }
         .back-button{
             width:80px;
             font-weight: normal;
         }
          
    }
}
// -------- LAPTOP ---- BİG SCREEN
 @media (min-width: 768px){
     .agent-detail{

         .agent-img{
            height:500px;
         }
         .agent-description{
            font-size: 18px;
        }
     }
 }
.detail-button {
    @extend %btn-shared
}